<!DOCTYPE html>
<html>

  <head>

  	<meta name="google-site-verification" content="TXt7r9bvkqw69I8FKIi-PFRaLY-b8220JxzKIbpNBnc" />
    <meta charset="utf-8">
    {% seo %}
    
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="/img/icons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/img/icons/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/img/icons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/img/icons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/img/icons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/img/icons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/img/icons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/img/icons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/img/icons/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon-180x180.png" />
    <!-- END Favicon and touch icons -->

    <!-- Bootstrap core CSS -->
    <link href="{{ "vendor/bootstrap/css/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="{{ "vendor/fontawesome-free/css/all.min.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "fonts/font-awesome-4.7.0/css/font-awesome.min.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css" >

    <link rel="stylesheet" type="text/css" href="{{ "vendor/animate/animate.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="{{ "vendor/css-hamburgers/hamburgers.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="{{ "vendor/select2/select2.min.css" | prepend: site.baseurl }}">

    <!-- <link rel="stylesheet" type="text/css" href="css/util.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ "css/main.css" | prepend: site.baseurl }}">

    <!-- Custom styles for this template -->
    <link href="{{ "css/resume.min.css" | prepend: site.baseurl }}" rel="stylesheet">

  </head>

  <body id="page-top">

    {% include index_navbar.html %}

    <div class="container-fluid p-0">

    {{ content }}
     

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ "vendor/jquery/jquery.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "vendor/bootstrap/js/bootstrap.bundle.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "vendor/jquery-easing/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ "js/resume.min.js" | prepend: site.baseurl }}"></script>


    <!-- <script src="vendor/bootstrap/js/popper.js"></script> -->
    <script src="{{ "vendor/bootstrap/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "vendor/select2/select2.min.js" | prepend: site.baseurl }}"></script>
    <!-- <script src="js/main.js"></script> -->

  </body>

</html>
